@model ToolShop.Presentation.ViewModels.ProductViewModel

<div class="panel-body">
    <div class="media">
        <div class="media-body">
            <h3 class="media-heading">@Model.Name</h3>
            <p>@Model.Description</p>
            <p>@Model.Price</p>
        </div>
    </div>
</div>
